.titlebar {
  text-align: center;
  color: white;
  background-color: black;
}

#td-display-panel-ECC {
  vertical-align: top;
}

.canvas-bordered {
  border: 1px solid black;
}

.canvas-title {
  position: absolute;
  border: 1px solid black;
  padding: 0px 10px 0px 10px;
  font: bold 12px arial, serif;
  background-color: white;
}

#div-canvas-ECC {
  position: absolute;
}

#canvas-axes-ECC {
  border: none;
  position: absolute;
  bottom: 0px;
  z-index: 1001;
}

#canvas-legend-ECC {
  position: absolute;
  left: 575px;
  bottom: 145px;
  z-index: 1001;
  background-color: #FAFAFA;
}

#span-canvas-ECC-title {
  //left: 10px;
  top:  -2px;
}

#div-help-body {
  //width:  50%;
  height: 900px;
}
