.viewer {
  display: table;
  width: 100%;
}

.display,
.sidebar {
  display: table-cell;
}

.sidebar {
  width: 87px;
}

#div-logo-img,
#div-nu-beam-img {
  position: absolute;
  width: 85px;
}

#div-logo-img {
  top: 4px;
  left: 4px;
}

#div-nu-beam-img {
  top: 105px;
  left: 12px;
}

#div-controls-ED {
  position: absolute;
  left: 9px;
}

#div-controls-ED {
  top: 260px;
}

#div-controls-ECC {
  top: 720px;
}

.titlebar {
  text-align: center;
  color: white;
  background-color: black;
}

#td-display-panel-ECC {
  vertical-align: top;
}

.btn.active, .btn.active:focus {
  background-color: yellow;
}

.canvas-bordered-black {
  border: 1px solid black;
}

.canvas-bordered-white {
  border: 1px solid white;
}

.canvas-title {
  position: absolute;
  border: 1px solid black;
  padding: 0px 10px 0px 10px;
  font: bold 12px arial, serif;
  background-color: white;
}

#div-canvas-ECC {
  position: absolute;
}

#canvas-axes-ECC {
  border: none;
  position: absolute;
  bottom: 0px;
  z-index: 1001;
}

#canvas-legend-ECC {
  position: absolute;
  left: 575px;
  bottom: 125px;
  z-index: 1001;
  color: white;
  background-color: black;
}

#span-canvas-ECC-title {
  top: -2px;
}

.modal-dialog {
  width:   95%;
  height:  900px;
}

.row.ed-display,
.row.ecc-display {
  display: flex;
  flex-wrap: wrap;
}

.row.ed-display div,
.row.ecc-display div {
  padding: 0 1em;
}
